{% extends 'base.html'%} 
{% block logout %}
<a href="{{url_for('logout')}}"><button type="button" class="btn btn-outline-success mx-2">Logout</button></a> 
{% endblock %} 
{% block body %} 

<div class="container">
    <div class="row">
        {%for property in current_user.properties %}
        <div class="col-sm-2 my-2">
            <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{property.title}}</h5>
            <p class="card-text">{{property.address}}</p>
            <a href="{{url_for('units', prop_id = property.id)}}" class="btn btn-primary">Open Units</a>
            </div>
        </div>
        </div>
        {% endfor %}
        {%block units%}
        {% endblock %}
        <div class="col-sm-2 my-2">
            <div class="card text-center" style="height: 100%">
                
            <button id ="myBtn" class="" style="height: 100%"><img style="height: 100%" class="img-fluid" src="{{url_for('static',filename = 'icons/add.svg')}}" alt="" srcset=""></button>
            
        </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" style="height: 50%">
    <span class="close">&times;</span>
    
    <form action="{{url_for('dashboard')}}" method="POST">
    
        {{add_property_form.csrf_token}}
        <span>Property Name</span>{{add_property_form.title()}}
        {{add_property_form.address.label}}{{add_property_form.address()}}
        {{add_property_form.submit()}}
    </form>
    
    </div>
</div>

<script src="{{url_for('static',filename = '/js/script.js')}}"></script>
{% endblock %}