{% extends 'base.html'%} {% block title %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}"> {% endblock %} {% block body %}
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Log in with your email account</h1>
                    <form role="form" action="{{url_for('signup')}}" method="POST" id="login-form" autocomplete="off">
                        {{signup_form.csrf_token}}
                        <div class="form-group">
                            {{signup_form.username.label(for="email", class="sr-only")}}{{signup_form.username(class = "form-control", id="email", placeholder="Username")}}
                        </div>
                        <div class="form-group">
                            {{signup_form.email.label(for="email", class="sr-only")}}{{signup_form.email(class = "form-control", id="email", placeholder="somebody@example.com")}}
                        </div>
                        <div class="form-group">
                            {{signup_form.password.label(class="sr-only")}}{{signup_form.password(type="password", id="key", class="form-control",placeholder="Password")}}
                        </div>
                        <div class="form-group">
                            {{signup_form.re_password.label(class="sr-only")}}{{signup_form.re_password(type="password", id="key", class="form-control",placeholder="Confirm Password")}}
                        </div>
                        <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Show password</span>
                        </div>
                        <ul>
                            {% for error in signup_form.re_password.errors %}
                            <li style="color:red">{{error}}</li>
                            {% endfor %}
                        </ul>
                        <ul>
                            {% for error in signup_form.password.errors %}
                            <li style="color:red">{{error}}</li>
                            {% endfor %}
                        </ul>
                        <ul>
                            {% for error in signup_form.email.errors %}
                            <li style="color:red">{{error}}</li>
                            {% endfor %}
                        </ul>
                        {{signup_form.submit(type="submit", id="btn-login", class="btn btn-custom btn-lg btn-block")}}
                    </form>
                    <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
                    <hr>
                </div>
            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
                <h4 class="modal-title">Recovery password</h4>
            </div>
            <div class="modal-body">
                <p>Type your email account</p>
                <input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-custom">Recovery</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}