{% extends 'base.html'%} 
{% block logout %}
<a href="{{url_for('logout')}}"><button type="button" class="btn btn-outline-success mx-2">Logout</button></a> 
{% endblock %} 
{% block body %} 

<div class="container">
    <div class="row">
        {%for property in current_user.properties %}
        <div class="col-sm-2 my-2">
            <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{property.title}}</h5>
            <p class="card-text">{{property.address}}</p>
            <a href="{{url_for('units', prop_id = property.id)}}" class="btn btn-primary">Open Units</a>
            </div>
        </div>
        </div>
        {% endfor %}
        {%block units%}
        {% endblock %}

    </div>
</div>
<div class="container">
    <div class="row">
        {%for unit in units %}
        <div class="col-sm-2 my-2">
            <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{unit.title}}</h5>
            <p class="card-text">{{unit.detail}}</p>
            <a href="{{url_for('transactions', prop_id = prop_id, unit_id = unit.id)}}" class="btn btn-primary">Open Transactions</a>
            </div>
        </div>
        </div>
        {% endfor %}

</div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr>
        <th scope="row">{{transaction.date}}</th>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.detail}}</td>
      </tr>
      {% endfor %}

      <form action="{{url_for('transactions', unit_id = unit_id, prop_id = prop_id)}}" method="POST">
      <tr>
        {{transaction_form.csrf_token}}
              <th scope="row"></th>
              <td>{{transaction_form.amount()}}</td>
              <td>{{transaction_form.detail()}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><button type="submit">Add Transaction</button></td>
            </tr>
        </form>
    </tbody>
  </table>
  


{% endblock %}
